#header {
  background-color: #13768a;
  width: 962px;
  height: 207px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

nav img{
	float: left;
	height: 50px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

body {
    width: 100%; 
    margin: auto;
}

a:link {
  color: #FFECD1;
}

a:visited {
  color: green;
}

a:hover {
  color: #CB1206;
}
a:active {
  color: teal;
}

#navigation {  
  background-color: black;
}

#contents {
    float: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: Quando;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: ri;
  padding: 14px 16px;
  text-decoration: none;
}

nav h1{
  color: rgba(255, 125, 0, 1);
  text-align: center;

}

.img {
  float: left;
  height: 200px;
}

footer {
  text-align: center;
  color: black;
}