body{
	font-family: verdana;
	background-color: #15616D;
}*{
	margin: 0;
	padding: 0;
}


footer{
	position: absolute;
	background-color: #001524;
	width: 100%;
	color: green;
}

footer{
	height: 50vh;
	bottom: 0;
	top: 100%;
}

footer h2{
	position: absolute;
	margin-top: 164px;
	margin-left: 77px;
}

footer h4{
	position: absolute;
	right: 45%;
	margin-top: 30px;
}

footer p{
	position: absolute;
	left: 38%;
	bottom: 20px;
	color: orange;
}

.media{
	right: 17%;
}

.nav{
	position: absolute;
	width: 100%;
}

.nav a{
	position: relative;
	left: 59%;
	top: 38px;
	color: burlywood;
	text-decoration: none;
	margin-right: 40px;
}

.gambar{
	position: relative;
	margin-top: 70px;
	color: green;
}

.sosial{
	text-align: right;
	margin-top: -220px;
	margin-right: 269px;
}

.form{
	position: absolute;
	margin-top: 300px;

}